<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp1.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <style>
      h1{color: #40a944; text-align: center;}

      p{ font-family: verdana;font-size: 20px;}
   </style>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>    
    <div>
        <h1>CSS Example</h1>
        <p>This is a paragraph.</p>
    </div>
    <div class="footer">
        <div class="container">
            <p>&copy; Innovation Cloud Conference</p>
        </div>
    </div>
</body>

</html>
